html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
}

.container {
    padding-top: 60px;
}

.logOutBtn {
    margin-right: 100px;
}
